<!-- Update：編輯一筆餐廳資料 -->
{{#if restaurant}}
<form action="/admin/restaurants/{{restaurant.id}}?_method=PUT" method="POST" enctype="multipart/form-data">

  <!-- Create：新增一筆餐廳資料 -->
  {{else}}
  <form action="/admin/restaurants" method="POST" enctype="multipart/form-data">

    {{/if}}
    <br />
    <!-- 在每個 <input> 加上 value="{{restaurant.name}}"：若 <input> 寫入 value 屬性，等於指定預設的輸入。
    1. "Update"：restaurant 變數存在，所以取得 value 內容
    2. "Create"：restaurant 變數不存在，value = null。 -->

    <div class="form-group">
      <label for="name">Name</label>

      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name"
        value="{{restaurant.name}}">
    </div>

    <div class="form-group">
      <label for="tel">Tel</label>

      <input type="text" class="form-control" name="tel" id="tel" placeholder="Enter tel" value="{{restaurant.tel}}">
    </div>

    <div class="form-group">
      <label for="address">Address</label>

      <input type="text" class="form-control" name="address" id="address" placeholder="Enter address"
        value="{{restaurant.address}}">
    </div>

    <div class="form-group">
      <label for="opening_hours">Opening Hours</label>

      <input type="time" class="form-control" name="opening_hours" id="opening_hours" placeholder="Enter opening_hours"
        value="{{restaurant.opening_hours}}">
    </div>

    <div class="form-group">
      <label for="description">Description</label>

      <!-- 注意：restaurant.description 位置放中間 -->
      <textarea class="form-control" id="description" name="description" rows="3">{{restaurant.description}}</textarea>
    </div>

    <!-- multer：上傳 image -->
    <div class="form-group">
      <label for="image">Image</label>

      <input type="file" class="form-control-file" id="image" name="image">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>