<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">

        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>

        <li><strong>Tel:</strong> {{restaurant.tel}}</li>

        <li><strong>Address:</strong> {{restaurant.address}}</li>

      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <p>{{restaurant.description}}</p>

    <!-- Dashboard -->
    <a class="btn btn-primary" href="/restaurants/{{restaurant.id}}/dashboard">Dashboard</a>

    <!-- isFavorited -->
    {{#if isFavorited }}
    <form action="/favorite/{{restaurant.id}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-danger">
        移除最愛
      </button>
    </form>

    {{else}}
    <form action="/favorite/{{restaurant.id}}" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-primary">
        加到最愛
      </button>
    </form>
    {{/if}}

    <!-- isLiked -->
    {{#if isLiked }}
    <form action="/like/{{restaurant.id}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-danger">
        Unlike
      </button>
    </form>

    {{else}}
    <form action="/like/{{restaurant.id}}" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-primary">
        Like
      </button>
    </form>
    {{/if}}

  </div>

  <hr>
</div>
<br />
<br />

<!-- Comment -->
<br /><br />
<h3>所有評論：</h3>

{{#each restaurant.Comments}}
<blockquote class="blockquote mb-0">

  <!-- Delete 按鈕：#if 限制 admin 權限 -->
  <!-- this：指向 #each restaurant.Comments -->
  <!-- 注意：../user.isAdmin：
  1. restController.getRestaurant render 的restaurant 內部有 user.isAdmin 
  2. 因有 this 指向 #each restaurant.Comments，所以要用"../"回到上一層，才可接收 restaurant Data -->
  {{#if ../user.isAdmin}}
  <form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">

    <button type="submit" class="btn btn-danger">
      Delete
    </button>

  </form>
  {{/if}}

  <!-- User Table：1. id、2. name -->
  <h4>
    <a href="/users/{{this.User.id}}">
      {{this.User.name}}
    </a>
  </h4>

  <!-- Comment Table：1. text、2. createdAt -->
  <p>{{this.text}}</p>

  <!-- moment 判斷式："絕對時間"->"相對時間" -->
  <footer class="blockquote-footer">
    {{moment this.createdAt}}
  </footer>

</blockquote>
<br /><br />
{{/each}}

<!-- action：Route -->
<form action="/comments" method="POST">

  <div class="form-group">
    <label for="text">留下評論：</label>

    <!-- Text 欄位 -->
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>

  <!-- name -> req.body"Controller" -->
  <!-- 注意：The hidden field is not shown to the user, but the data "restaurant.id" is sent when the form is submitted. -->
  <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />

  <!-- POST -->
  <button type="submit" class="btn btn-primary">
    Submit
  </button>

</form>

<!-- 注意：Back 按鈕 -->
{{!-- <a href="javascript:history.back()">回上一頁</a> --}}
<a href="/restaurants">回首頁</a>